@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 62.5%;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5;
  color: #000; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch; }

a {
  color: #000;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    opacity: 0.7; }
  a svg {
    fill: currentColor; }
  a img {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

.wrap {
  position: relative;
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 15px; }

#wrapper {
  position: relative;
  min-width: 1010px;
  z-index: 10 !important;
  overflow-x: hidden; }
  #wrapper.-fixed {
    overflow: hidden;
    height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

input,
select,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Abel', "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.-anim {
  opacity: 0; }

/* ===================================================================================

Base Media Queries PC
基礎 メディアクエリ PC用（ 960px 〜 ）

=================================================================================== */
.pc-only {
  display: inherit !important; }

.sp-only {
  display: none !important; }

/*================================
	header
================================*/
.header {
  position: relative;
  background: #000 url(../img/mv.jpg) repeat-x center center;
  background-size: auto 100%;
  text-align: center; }

.header__logo {
  text-align: center; }
  .header__logo img {
    margin: 0 auto; }

.header__wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1140px; }

.header__sns {
  padding-top: 32px; }
  .header__sns.sns {
    justify-content: flex-end; }
  .header__sns .sns__item {
    margin-left: 10px; }

/*================================
	sns
================================*/
.sns {
  display: flex;
  align-items: center;
  justify-content: center; }

.sns__item {
  width: 28px; }

/*================================
	album
================================*/
.album {
  padding: 96px 0 66px;
  background: url(../img/bg_album.jpg) no-repeat center center;
  background-size: cover; }

.album__wrap {
  min-height: 580px; }

.album__inner {
  max-width: 460px;
  margin-left: auto; }

.album__slider {
  position: relative; }

.album__slider__wrap {
  position: relative; }

.album__slider__items {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.album__slider__item {
  position: relative;
  display: block;
  width: 210px;
  cursor: pointer; }
  .album__slider__item.-item1 {
    position: absolute;
    top: 0;
    left: -520px;
    width: 460px;
    cursor: default;
    z-index: 10; }
    .album__slider__item.-item1 .album__slider__head1 {
      font-size: 2.8rem; }
    .album__slider__item.-item1 .album__slider__head2 {
      font-size: 2.6rem; }
    .album__slider__item.-item1 .album__slider__head3 {
      font-size: 2.4rem; }
    .album__slider__item.-item1 .album__slider__txt {
      font-size: 1.4rem; }
  .album__slider__item.-item2 {
    z-index: 2; }
  .album__slider__item.-item3 {
    z-index: 1; }

.album__slider__thumb {
  margin-bottom: 1.5em; }

.album__slider__head1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #313131;
  line-height: 24 / 18; }

.album__slider__head2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #313131;
  line-height: 24 / 16; }

.album__slider__head3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #313131;
  line-height: 24 / 14; }

.album__slider__txt {
  margin-top: 0.5em;
  font-size: 1.2rem;
  color: #232741;
  line-height: 18 / 12; }

.album__slider__arrow {
  display: none; }

.album__slider__cover {
  display: none; }

.album__trackList {
  margin-top: 4em;
  padding: 2em 1.5em;
  background-color: rgba(0, 0, 0, 0.7); }

.album__trackList__head {
  margin-bottom: 3.5em; }

.album__trackList__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.album__trackList__list {
  margin: 0 2.5em; }

.album__trackList__item {
  margin-bottom: 0.8em;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1; }

.album__button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2em; }

.album__button__item {
  position: relative;
  display: block;
  width: 220px;
  padding: 0.8em;
  background-color: #000;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  line-height: 1; }
  .album__button__item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 8px;
    height: 8px;
    margin: auto 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

/*================================
	video
================================*/
.video {
  padding: 100px 0;
  background-image: url(../img/bg_video_pattern.png), url(../img/bg_video.jpg);
  background-position: center center;
  background-repeat: repeat, no-repeat;
  background-size: 3px 3px, cover; }

.video__head {
  max-width: 344px;
  margin: 0 auto 6em;
  text-align: center; }

.video__items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap; }

.video__item {
  position: relative;
  width: 460px;
  margin: 0 60px 4em 0;
  background-color: #fff;
  cursor: pointer; }
  .video__item:nth-child(even) {
    margin-right: 0; }
  .video__item:hover .video__item__img,
  .video__item:hover .video__item__title {
    opacity: 0.7; }

.video__item__thumb {
  position: relative; }
  .video__item__thumb:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 92px;
    height: 92px;
    margin: auto;
    background: url(../img/icn_play.svg) no-repeat center center;
    background-size: contain;
    pointer-events: none;
    z-index: 10; }

.video__item__img {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.video__item__title {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.8em 1.6em;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1.4rem;
  color: #fff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

/*================================
	shop
================================*/
.shop {
  padding: 100px 0;
  background-color: #e6e6e6; }

.shop__head {
  max-width: 344px;
  margin: 0 auto 7em;
  text-align: center; }

.shop__items {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap; }

.shop__item {
  width: 306px;
  margin-right: 30px;
  padding: 1.5em; }
  .shop__item:nth-child(n + 4) {
    margin-top: 4em; }
  .shop__item:nth-child(3n) {
    margin-right: 0; }
  .shop__item.-item1 {
    background-color: #fff; }
  .shop__item.-item2 {
    background-color: #ffcb04; }
  .shop__item.-item3 {
    background-color: #fcb620; }
  .shop__item.-item4 {
    background-color: #385ea9; }
    .shop__item.-item4 .shop__item__txt {
      color: #fff; }
  .shop__item.-item5 {
    background-color: #000; }
    .shop__item.-item5 .shop__item__txt {
      color: #fff; }
    .shop__item.-item5 .shop__button {
      background-color: #fff;
      color: #000; }
      .shop__item.-item5 .shop__button:before {
        border-color: #000; }
  .shop__item.-item6 {
    background-color: #f3f3f3; }

.shop__item__logo {
  margin-bottom: 1.5em; }

.shop__item__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em; }

.shop__item__thumb {
  width: 112px; }

.shop__item__txt {
  width: 148px;
  font-size: 1.3rem; }

.shop__button {
  position: relative;
  display: block;
  padding: 1.2em;
  background-color: #000;
  text-align: center;
  line-height: 1; }
  .shop__button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 13px;
    height: 13px;
    margin: auto 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

/*================================
	live
================================*/
.live {
  padding: 0 0 140px;
  background-color: #e6e6e6; }

.live__head {
  max-width: 344px;
  margin: 0 auto 7em;
  text-align: center; }

.live__wrap {
  max-width: 640px; }

.live__head1 {
  margin-bottom: 0.2em;
  font-size: 2.6rem; }

.live__head2 {
  margin-bottom: 0.2em;
  font-size: 2.0rem; }

.live__txt {
  margin-bottom: 1em;
  font-size: 1.4rem;
  line-height: 2.2; }

/*================================
	footer
================================*/
.footer {
  padding: 100px 0;
  background-color: #000; }

.footer__sns {
  margin-bottom: 5em; }
  .footer__sns .sns__item {
    margin: 0 5px; }

.footer__button {
  position: relative;
  display: block;
  max-width: 524px;
  margin: 0 auto;
  padding: 2.4em 0;
  background-color: #fff;
  text-align: center;
  line-height: 1; }
  .footer__button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 13px;
    height: 13px;
    margin: auto 10px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.footer__copyright {
  margin-top: 8em;
  font-size: 1rem;
  text-align: center;
  color: #fff; }

.footer__pagetop {
  position: fixed;
  right: 26px;
  bottom: 26px;
  display: block;
  width: 44px; }

/*================================
	opening
================================*/
.opening {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 1000; }

.opening__logo {
  position: relative;
  width: 320px; }

.opening__cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #fff; }

/* ===================================================================================

Base Media Queries SP
基礎 メディアクエリ スマートフォン用（ 〜 600px ）

=================================================================================== */
@media print, screen and (max-width: 600px) {
  #wrapper {
    min-width: inherit; }

  img {
    width: 100%; }

  .pc-only {
    display: none !important; }

  .sp-only {
    display: inherit !important; }

  /*================================
  	header
  ================================*/
  .header__sns {
    display: none; }

  /*================================
  	sns
  ================================*/
  .sns__item {
    width: 40px; }

  /*================================
  	album
  ================================*/
  .album {
    padding: 4em 0 6em; }

  .album__wrap {
    min-height: inherit; }

  .album__inner {
    max-width: none;
    margin: 0 15px; }

  .album__slider {
    position: relative; }

  .album__slider__wrap {
    position: relative; }

  .album__slider__items {
    position: relative;
    display: block; }

  .album__slider__item {
    position: absolute;
    top: 42px;
    width: 230px; }
    .album__slider__item.-item1 {
      position: relative;
      top: auto;
      left: auto;
      width: 315px;
      margin: 0 auto; }
      .album__slider__item.-item1 .album__slider__head1 {
        display: block;
        font-size: 19px;
        font-size: get_vmax(19); }
      .album__slider__item.-item1 .album__slider__head2 {
        display: block;
        font-size: 17px;
        font-size: get_vmax(17); }
      .album__slider__item.-item1 .album__slider__head3 {
        display: block;
        font-size: 15px;
        font-size: get_vmax(15); }
      .album__slider__item.-item1 .album__slider__txt {
        display: block;
        font-size: 12px;
        font-size: get_vmax(12); }
    .album__slider__item.-item2 {
      right: calc(50% + 10px); }
    .album__slider__item.-item3 {
      left: calc(50% + 10px); }

  .album__slider__head1 {
    display: none; }

  .album__slider__head2 {
    display: none; }

  .album__slider__head3 {
    display: none; }

  .album__slider__txt {
    display: none;
    margin-top: 0.2em; }

  .album__slider__arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 33px;
    height: 315px;
    background: url(../img/icn_arrow.png) no-repeat center center;
    background-size: contain;
    z-index: 100; }
    .album__slider__arrow.-prev {
      left: -30px;
      -moz-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1); }
    .album__slider__arrow.-next {
      right: -30px; }

  .album__slider__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 80; }

  .album__trackList {
    margin-top: 3em;
    padding: 1.5em; }

  .album__trackList__head {
    margin-bottom: 3em;
    width: 27.01754%; }

  .album__trackList__list {
    margin: 0 1em; }

  .album__trackList__item {
    margin-bottom: 0.8em;
    font-size: 13px;
    font-size: get_vmax(13); }

  .album__button {
    align-items: stretch; }

  .album__button__item {
    width: 46.98413%;
    padding: 1.4em 0.5em 1.4em 0;
    font-size: 13px;
    font-size: get_vmax(13); }

  /*================================
  	video
  ================================*/
  .video {
    padding: 6em 0 3em; }

  .video__head {
    max-width: none;
    width: 49.85507%;
    margin: 0 auto 3.5em; }

  .video__items {
    display: block;
    width: 78.26087%;
    margin: 0 auto; }

  .video__item {
    width: 100%;
    margin: 0 0 3.5em 0; }
    .video__item:hover .video__item__img,
    .video__item:hover .video__item__title {
      opacity: 1; }

  .video__item__thumb:before {
    width: 54px;
    height: 54px; }

  .video__item__title {
    padding: 0.5em 0.8em;
    font-size: 12px;
    font-size: get_vmax(12); }

  /*================================
  	shop
  ================================*/
  .shop {
    padding: 6em 0 3em; }

  .shop__head {
    max-width: none;
    width: 49.85507%;
    margin: 0 auto 3.5em; }

  .shop__items {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap; }

  .shop__item {
    width: 47.10145%;
    margin-right: 5.7971%;
    padding: 0 2em 2em; }
    .shop__item:nth-child(n + 3) {
      margin-top: 2em; }
    .shop__item:nth-child(3n) {
      margin-right: 5.7971%; }
    .shop__item:nth-child(2n) {
      margin-right: 0; }

  .shop__item__logo {
    margin: 0 -1em; }

  .shop__item__wrap {
    display: block;
    margin-bottom: 0.8em; }

  .shop__item__thumb {
    width: 100%;
    margin-bottom: 0.8em; }

  .shop__item__txt {
    width: 100%;
    font-size: 8px;
    font-size: get_vmax(8); }

  .shop__button {
    padding: 1.6em 0; }
    .shop__button:before {
      width: 7px;
      height: 7px; }
    .shop__button img {
      width: 20%; }

  /*================================
  	live
  ================================*/
  .live {
    padding: 3em 0 6em; }

  .live__head {
    max-width: none;
    width: 49.85507%;
    margin: 0 auto 3.5em; }

  .live__wrap {
    margin: 0 15px; }

  .live__head1 {
    margin-bottom: 0.2em;
    font-size: 18px;
    font-size: get_vmax(18); }

  .live__head2 {
    margin-bottom: 0.2em;
    font-size: 15px;
    font-size: get_vmax(15); }

  .live__txt {
    margin-bottom: 1em;
    font-size: 12px;
    font-size: get_vmax(12);
    line-height: 1.8; }

  /*================================
  	footer
  ================================*/
  .footer {
    padding: 3em 0 4em; }

  .footer__sns {
    margin-bottom: 3.5em; }
    .footer__sns .sns__item {
      margin: 0 7px; }

  .footer__button {
    width: 75.7971%;
    margin: 0 auto;
    padding: 2.4em 0; }
    .footer__button img {
      width: 60.61185%; }

  .footer__copyright {
    margin-top: 2em;
    font-size: 9px;
    font-size: get_vmax(9); }

  .footer__pagetop {
    position: relative;
    right: auto;
    bottom: auto;
    width: 33px;
    margin: 2em auto 0; }

  /*================================
  	opening
  ================================*/
  .opening__logo {
    width: 80%;
    max-width: 240px; } }
